
#boxs{
    width: 100vmin;
    height: 24vmin;
    position: absolute;


    padding: 2vh;
    top: 73vmax;
    left: 50%;
    transform: translate(-50%, -50vmax);

    display: flex;
    opacity: 0;

    animation-name: boxs;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    

    #linkbox{
        margin: 0 auto;
        width: 15vmax;
        height: 20vh;
        text-align: center;

        #mylink{
            font-size: 5vmax;
            color: rgb(255, 161, 213);
        }
        h1{
            text-shadow: 2px 1px 2px rgb(190, 112, 155);
            color: rgb(255, 161, 213);
            font-size: 3vmax;
        }

        &:hover{
            #mylink{
                font-size: 7vmax; 
            }
            h1{
                font-size: 4vmax;
            }
        }
    }

    #skillbox{
        width: 15vmax;
        height: 20vh;
        margin: 0 auto;
        text-align: center;

        #tools{
            font-size: 5vmax;
            color: rgb(255, 161, 213);

        }
        h1{
            text-shadow: 2px 1px 2px rgb(190, 112, 155);
            color: rgb(255, 161, 213);
            font-size: 3vmax;
        }

        &:hover{
            #tools{
                font-size: 7vmax; 
            }
            h1{
                font-size: 4vmax;
            }
        }

    }

    #projectbox{
        margin: 0 auto;
        width: 15vmax;
        // border-radius: 20px;
        // border: 3px solid white;
        text-align: center;

        #books{
            font-size: 5vmax;
            color: rgb(255, 161, 213);
            
        }
        h1{
            text-shadow: 2px 1px 2px rgb(190, 112, 155);
            color: rgb(255, 161, 213);
            font-size: 3vmax;
        }

        &:hover{
            #books{
                font-size: 7vmax; 
            }
            h1{
                font-size: 4vmax;
            }
        }
    }

    @keyframes boxs {
        100%{
            top:165vmin;
            opacity: 1;
      }

        0%{
            top:90vmax;

      }

    }

}