@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
#mainbox{
    background-image: url("../public/img/bsdf.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Vujahday Script', cursive;
  
    #titles{
      width: 100%;
      position: absolute;
      font-size: 7vmax;
      text-align: center;
      color: rgb(245, 179, 239);
      text-shadow: 2px 5px 2px gray; 
      // -webkit-text-stroke: 3px white;
      animation-name: titles;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    @keyframes titles {
          100%{top:4vmax;}
          0%{
          top:20vmax;
          opacity: 0;
        }
    }
  
    #subtitles{
      width: 100%;
      position: absolute;
      font-size: 4vmax;
      text-align: center;
      color: rgb(253, 166, 220);
      text-shadow: 2px 3px 2px gray; 
      // -webkit-text-stroke: 3px white;
      opacity: 0;
      animation-name: subtitles;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
      @keyframes subtitles {
          100%{
          top:13vmax;
          opacity: 1;
          }
          0%{
          top:30vmax;
          opacity: 0;
        }
    }
  
  }